/* Defines spacing, fonts, and sizes */
@use './fonts/plex/plex.css';
@use './scrollbar.scss';
:root {
	font-family: 'IBM Plex Sans', system-ui, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 450;
	// font-variation-settings: 'wdth' 80;
	--text-xs: 0.79rem;
	--text-sm: 0.88rem;
	--text-base: 1rem; /* 16px */
	--text-1xl: 1.13rem;
	--text-2xl: 1.27rem;
	--text-3xl: 1.42rem;
	--text-4xl: 1.6rem;
	--text-5xl: 1.8rem;
	--text-6xl: 2.03rem;
}
form:has(input:focus) {
	key {
		display: none;
	}
}
label {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	width: max-content;
	align-items: center;
	margin-left: 0.25rem;
	color: var(--primary-fg-mid);
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
key {
	font-family: 'Noto Sans Mono Variable', monospace;
	background-color: var(--neutral-bg-accent);
	font-size: var(--text-xs);
	height: 16px;
	position: relative;
	top: -0.5px;
	padding: 0 0.125rem;
	margin: 0 0.0625rem;
	border-radius: 0.25rem;
	border: none;
	height: 16px;
	box-sizing: border-box;
	aspect-ratio: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--neutral-fg-mid);
	box-shadow: 0.25px 0.5px 0px 1px var(--neutral-bg-accent-shifted);
}

h1,
h2,
h3 {
	font-weight: 600;
}

legend {
	padding: 0 0.5rem;
	color: var(--neutral-fg-mid);
}

fieldset {
	border: 1px solid var(--neutral-bg-accent-shifted);
	background-color: var(--neutral-off-bg);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	color: var(--primary-fg-mid);
}

@for $i from 1 to 6 {
	h#{$i} {
		font-size: var(--text-#{7-$i}xl);
		margin-top: calc(var(--text-#{7-$i}xl) / 2);
		margin-top: calc(var(--text-#{7-$i}xl) / 2);
	}
}

.error {
	color: var(--secondary-bg-mid);
}

.status {
	color: var(--primary-fg-mid);
}

a {
	color: var(--primary-mid);
}

:root {
	height: 100%;
}

body {
	display: block;
}
:root {
	background-color: var(--neutral-bg);
	color: var(--neutral-fg);
}

*:focus-visible {
	outline: 2px solid var(--primary-fg-mid);
	outline-offset: 2px;
	z-index: 1;
}

hr {
	border: none;
	border-bottom: 1px solid var(--neutral-mid);
}

button.transparent-icon {
	color: inherit;
	background-color: transparent;
	border: none;
	border-radius: 100%;
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
	&:active {
		transform: scale(0.98);
	}
	@media screen and (min-width: 620px) {
		display: none;
	}
}

input {
	color: inherit;
	font: inherit;
	height: 2.5rem;
	border: 1px solid var(--neutral-bg-accent-shifted);
	background-color: var(--neutral-bg);
	border-radius: 0.5rem;
	cursor: text;
	background-color: transparent;
}

input:focus-visible {
	box-shadow: 0 -1px inset var(--primary-bg-mid);
	border-bottom-color: var(--primary-bg-mid);
	outline: none;
	border-radius: 0.5rem 0.5rem 0 0;
}
input:user-invalid {
	color: var(--secondary-fg-mid);
}

// to hide the arrows on the number input
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	appearance: textfield;
	padding-right: 1rem;
	-moz-appearance: textfield;
}

input:disabled {
	background-color: var(--neutral-bg-accent);
	color: var(--neutral-fg-mid);
}

.mono {
	font-family: 'Noto Sans Mono Variable', monospace;
	font-weight: 400;
	white-space: nowrap;
}
