/* Defines spacing, fonts, and sizes */
@import './fonts/plex/plex.css';
:root {
	font-family: 'IBM Plex Sans', system-ui, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 450;
	// font-variation-settings: 'wdth' 80;
	--text-xs: 0.79rem;
	--text-sm: 0.88rem;
	--text-base: 1rem; /* 16px */
	--text-1xl: 1.13rem;
	--text-2xl: 1.27rem;
	--text-3xl: 1.42rem;
	--text-4xl: 1.6rem;
	--text-5xl: 1.8rem;
	--text-6xl: 2.03rem;
}

h1,
h2,
h3 {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5rem;
	color: var(--primary-fg-mid);
}

@for $i from 1 to 6 {
	h#{$i} {
		font-size: var(--text-#{7-$i}xl);
		margin-top: calc(var(--text-#{7-$i}xl) / 2);
		margin-top: calc(var(--text-#{7-$i}xl) / 2);
	}
}

a {
	color: var(--secondary-fg-mid);
}

body {
	margin: 0.5rem;
}
:root {
	background-color: var(--neutral-bg);
	color: var(--neutral-fg);
}

*:focus-visible {
	outline: 2px solid var(--primary-fg-mid);
	outline-offset: 2px;

	z-index: 1;
}
